# {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root {
    width: 100%;
    display: flex;
    justify-content: center;
}
body {
    width: 100%;
    background: linear-gradient(to left,
            #ffbd61,

            #ffce3d);
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-app {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.todo-form {
    display: flex;
    background-color: #d3ead9;
    height: 40px;
    width: 100%;
    justify-content: center;
    padding: 10px;
   
}

.todo-input {
    line-height: 16px;
    border: #eeeeee solid 2px;
}

.todo-btn {
    background-color:

        #80c783;
    cursor: pointer;
    border: #eeeeee solid 2px;
}

.todo-btn:hover {
    background-color:
        #2c5053;
    transition: all 0.3s;
}

.select {
    height: 100%;
    margin-left: 12px;
}

.select select {
    height: 100%;
    border: solid #eeeeee 2px;
}
.todo {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border: solid #eeeeee 1px;
    margin: 4px 0;
}
.todo-item {
    overflow: hidden;
    justify-self: flex-end;
    width: 200px;
    
}
.todo-container {
    margin-top: 12px;
    padding: 10px;
    background-color: #82cd8a;
    border: solid #eeeeee 1px;
    width: 100%;
}
.todo-list {
    padding:  0;
    list-style: none;
}
.completed-btn {
    background-color: #80c783;
    width: 50px;
    color: #fff;border: none;
    box-shadow:  0 0 5px #ccc;
    cursor: pointer;
}
.completed-btn:hover {
    border: solid 1px #fff ;
    transform: scale(105%);
    transition:  all 0.3s;
}
.delete-btn:hover {
    border: solid 1px #fff ;

    transform: scale(105%);
    transition:  all 0.3s;
}
.delete-btn {
    background-color: #ec4743;
    width: 40px;
    color: #fff;
    border: none;
    box-shadow:  0 0 5px #eeeeee;
    cursor: pointer;
}
h1 {
    font-size: 50px;
    color: #fff;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef4329;
    margin-bottom: 12px;
     height: 100px;
     padding: 6px;
    width: 100%;
    border: #fff solid 3px;
}
.completed-btn{
    margin-left: 40px;
}
.completed {
    opacity: 0.6;
    text-decoration: line-through;
}
@media (max-width: 768px) {
    .todo-app {
        width: 280px;
    }
    .todo-form {
        justify-content:flex-start;
    }
    .filter-todos{
        width: 100px;
    }
    .todo-input {
        width: 120px;
    }
}